.step-activation{
    height:100vh;
    position: fixed;
    z-index: 10;
    left: 0;
    right:0;
    button{
        cursor: pointer;
    }
}


#speech-wrapper{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    top:0;
    font-size:4em;
    height: 4em;
    margin:auto;
    text-align: center;
    padding:20px;
    color:#000;
    p{
        padding: 0;
        margin:0;
        text-align: center;
        font-size: inherit;
        padding:.5em 1.2em;
        border-radius: 5px;
        font-weight: 100;
        display: inline-block;
        transition: width .3s;
    }
}

#user-inputs{
    overflow: hidden;
    height: 0;
    transition: height .5s ease-in-out;
    z-index: 20;
    background: #000;
    box-sizing: border-box;
    font-size:1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    bottom:0;
    display: block;
    white-space: nowrap;
    border:1px solid #dedede;
    display: flex;
    align-items: center;
    &:before{
        padding: 1em;
        padding-right: 0;
        flex: 1;
        font-size: 1em;
        color:#dedede;
        content:'>';
        cursor: default;
        touch-action: none;
        pointer-events: none;
    }
    form{
        flex: 50;
        margin:0;
        width:100%;
    }
    input{
        margin: 0;
        padding: 1em;
        padding-left: 1em;
        -webkit-appearance: none;
        color:#dedede;
        flex: 50;
        left: 0;
        top:0;
        background-color: transparent;
        font-size: 1em;
        border:0;
        outline: 0;
        width:100%;
    }
}

.mic-stat{
    color:#A5AFB9;
}

#double-wave{
    fill:transparent;
    stroke:#000;
    stroke-width: 2px;
}

#speech-wave{
    transition:all .5s;
    clip-path: inset(0 2% 0 2%);    
}

#double-wave-closed{
    transition:stroke .2s ease-in-out;
    fill:transparent;
    stroke: #000;
    stroke-width: 3px;
    &.listening{
        stroke: #2a8fe6;
    }
}

.selected {
    -webkit-animation-name: blink;
       -moz-animation-name: blink;
         -o-animation-name: blink;
            animation-name: blink;
    -webktit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
          -o-animation-timing-function: linear;
             animation-timing-function: linear;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
  }
  
  .will-blink {
    -webkit-animation-iteration-count: 2;
       -moz-animation-iteration-count: 2;
         -o-animation-iteration-count: 2;
            animation-iteration-count: 2;
  }
  
  @-webkit-keyframes blink {
    50% {
      background-color:#2a8fe6;
      color:#fff;
    }
  }
  @-moz-keyframes blink {
    50% {
      background-color:#2a8fe6;
      color:#fff;
    }
  }
  @-o-keyframes blink {
    50% {
      background-color:#2a8fe6;
      color:#fff;
    }
  }
  @keyframes blink {
    50% {
      background-color:#2a8fe6;
      color:#fff;
    }
  }